/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@700&family=Roboto&family=Source+Serif+Pro&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-white: #f8f8f8;
  --brand-grey: #eaeaea;
  --brand-red: #ae2412;
  --brand-pink: #edc7e1;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  background-color: var(--brand-white);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Cairo Play", "Roboto", sans-serif;
  font-size: 40px;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

p {
  font-family: "Source Serif Pro", serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  background-color: var(--brand-red);
  color: white;
  padding: 18px 40px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  padding: 18px 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn:active {
  background-color: #791c10;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.align-self-center {
  align-self: center;
}

.scroll-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.scroll-btn {
  position: absolute;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: var(--brand-red);
  padding: 10px;
  border-radius: 5px;
}

.scroll-btn:hover {
  padding: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.scroll-btn:active {
  background-color: #791c10;
}

label {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

input:focus {
  border: 2px solid dimgray;
  outline: none;
}

textarea:focus {
  border: 2px solid dimgray;
  outline: none;
}

.error-message {
  padding: 20px;
  border: dashed 4px var(--brand-red);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message p {
  margin-bottom: 20px;
}

.error-message i {
  color: var(--brand-red);
  font-size: 30px;
  margin-right: 10px;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 10%;
}

.logo {
  display: flex;
  height: 10vh;
  margin-left: 20px;
}

.logo-text {
  font-size: 30px;
  font-family: "Cairo Play", cursive, "Roboto", sans-serif;
}

.logo-img img {
  height: 60px;
}

.burger-menu {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: center;
}

.menu ul {
  display: flex;
}

.menu-list {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.menu-list li {
  display: flex;
  margin-right: 60px;
}

.menu-social {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.menu-social li {
  display: flex;
  font-size: 18px;
  margin-right: 18px;
}

.active-page {
  border-bottom: solid 2px black;
}

/* Page layout */
.main-container {
  display: flex;
  height: 90vh;
}

.carousel-container {
  background-color: #f8f8f8;
  width: 55vw;
  height: 100%;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-button:focus {
  outline: 2px soldi black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.carousel {
  position: relative;
  background-color: dimgrey;
  height: 60%;
}

.carousel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  position: absolute;
  inset: 0;
}

.track {
  display: flex;
  justify-content: center;
}

.carousel-info {
  height: 30%;
  padding: 30px;
  margin-bottom: 30px;
}

.carousel-info h2 {
  font-family: "Cairo Play", "Roboto", sans-serif;
  font-size: 40px;
}

.carousel-info p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 50px;
}

.content-container {
  background-color: var(--brand-grey);
  height: 100%;
  width: 45vw;
  box-shadow: inset 0 0 18px #707070;
  padding: 0px 30px;
  align-items: center;
}

.loading {
  margin: 100px 0px 1000px;
  border: 20px solid var(--brand-white);
  border-top: 20px solid dimgray;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}

/* index */

.hero {
  -webkit-box-shadow: inset 0 18px 18px -18px rgba(112, 112, 112, 0.8),
    inset 0 -18px 18px -18px rgba(112, 112, 112, 0.8);
  -moz-box-shadow: inset 0 18px 18px -18px rgba(112, 112, 112, 0.8),
    inset 0 -18px 18px -18px rgba(112, 112, 112, 0.8);
  box-shadow: inset 0 18px 18px -18px rgba(112, 112, 112, 0.8),
    inset 0 -18px 18px -18px rgba(112, 112, 112, 0.8);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./images/compressed/tokyo_sky_tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  text-align: center;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero-btn {
  background-color: var(--brand-pink);
  color: black;
  padding: 18px 60px;
  border-radius: 10px;
  margin-top: 40px;
}

.hero-btn:hover {
  background-color: #f0dfeb;
  padding: 18px 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hero-btn:active {
  background-color: var(--brand-grey);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

/* Contact */
.form-container {
  max-width: 500px;
  padding: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  display: flex;
}

#submit-message {
  height: fit-content;
}

.form-message {
  padding: 20px;
  border: dashed 4px green;
  margin-bottom: 20px;
}

.error-container {
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 0;
  width: 300px;
}

.form-control small {
  color: var(--brand-red);
  font-size: 12px;
}

.error-container-message {
  position: absolute;
  z-index: 2;
  top: 240px;
  left: 0;
  width: 400px;
}

.form-control {
  margin-top: 40px;
}

.form-control label {
  color: black;
  font-family: "Helvetica Neue";
  position: relative;
  z-index: 1;
}
.form-control input {
  height: 30px;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

#message {
  width: 100;
}

#submit-button {
  margin-top: 50px;
  border: none;
  font-size: 20px;
}

/* About */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image-1 {
  display: flex;
  justify-content: center;
}

.about-image-1 img {
  height: 280px;
  width: 280px;
  object-fit: cover;
  object-position: 20%;
  border-radius: 50%;
  border: solid 30px var(--brand-white);
  position: absolute;
  top: -40%;
}

.about1 {
  margin-top: 170px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-section {
  position: relative;
  background-color: var(--brand-white);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
}

.about-section p {
  margin-top: 30px;
}

.about-image-2 img {
  max-width: 500px;
  object-fit: cover;
  margin: 30px 0px;
  border-radius: 10px;
}

.about-logo {
  margin-top: 30px;
  display: flex;
}

.about-logo span {
  font-family: "Cairo Play", "Roboto", sans-serif;
}

.about-logo img {
  height: 50px;
}

/* Blogs page */

.search {
  font-size: 0;
  display: flex;
  justify-content: center;
}

.search-input {
  border-radius: 10px 0px 0px 10px;
}

.search-input:focus {
  border-right: 0;
}

.search-button {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
}

.search-button:hover {
  padding: 15px 30px;
}

.radio-select-container {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.categories {
  margin: 30px;
  display: flex;
}

.category {
  display: none;
}
.categories label {
  cursor: pointer;
  color: white;
  background-color: var(--brand-red);
  border-radius: 10px;
  padding: 18px 30px;
  margin-right: 20px;
}

.categories label:hover {
  background-color: #791c10;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.categories input[type="radio"]:checked + label {
  background-color: #791c10;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.blog-card {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 360px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 22px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.blog-card:hover {
  transform: scale(105%);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.3), 0 7px 22px 0 rgba(0, 0, 0, 0.3);
}

.blog-card h2 {
  font-family: "Cairo Play", cursive, "Roboto", sans-serif;
}

.blog-card p {
  font-family: "Roboto", sans-serif;
  margin: 0px 20px 20px 20px;
}

.blog-card img {
  border-radius: 10px 10px 0px 0px;
  height: 230px;
  width: 300px;
  object-fit: cover;
}

.show-more {
  margin-bottom: 20px;
}

/* Blog post page */

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 9998;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#larger-image {
  cursor: pointer;
  overflow: hidden;
  display: none;
}

#larger-image p {
  display: none;
}

#larger-image img {
  height: 100%;
  width: 100%;
}

.post-container {
  padding: 50px 0px;
  margin: 0 auto;
}

.post-container p {
  margin-top: 30px;
  max-width: 500px;
}

.post-container img {
  cursor: pointer;
  border-radius: 10px;
  max-width: 500px;
  height: fit-content;
}

.date {
  width: 100%;
  margin: 30px 0px;
}

/* fix? */

.comment-section {
  max-width: 500px;
  width: 100%;
}

.comment-container {
  background-color: var(--brand-white);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 30px 30px;
}

.comment-info {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.comment-name {
  margin-left: 30px;
}

.comment-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#comment {
  display: flex;
  flex-direction: column;
}

.hide {
  display: flex;
}

.hide2 {
  display: none;
}

@media (min-width: 2300px) {
  body {
    margin: 0px 500px;
  }
}

@media (max-width: 1250px) {
  /* global */

  .logo img {
    height: 50px;
  }

  .logo span {
    font-size: 25px;
  }

  h1 {
    font-size: 30px;
  }

  .btn {
    font-size: 12px;
    padding: 14px 30px;
  }

  .btn:hover {
    padding: 14px 60px;
  }

  .burger-menu {
    display: block;
    margin-right: 20px;
    font-size: 30px;
    z-index: 999;
  }

  .scroll-container {
    overflow-y: visible;
  }

  .scroll-btn {
    display: none;
  }

  .menu {
    background-color: var(--brand-white);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    transform: translateX(2000px);
    transition: all 0.5s ease-in-out;
  }

  .menu-list ul {
    width: fit-content;
    flex-direction: column;
    font-size: 30px;
  }

  .menu-list li {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .menu-social {
    margin-left: 0px;
  }

  .menu-social li {
    font-size: 30px;
  }

  .menu-show {
    transform: translateX(0);
  }

  /* layout */

  .main-container {
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
    width: 100%;
  }

  .carousel-container {
    width: 100%;
    height: 100%;
  }

  .carousel {
    height: 400px;
  }

  .carousel img {
    width: 100%;
  }

  .track {
    display: flex;
    justify-content: center;
  }

  .carousel-info {
    min-height: 300px;
    width: 100%;
  }

  .content-container {
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
  }

  /* index */

  .hero {
    padding-top: 100px;
    height: 600px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content h2 {
    font-size: 30px;
  }
  .small-screen-post {
    flex-direction: column;
  }

  /* blog post */

  .post-info {
    min-height: 160px;
    margin-bottom: 0px;
  }

  .hide {
    display: none;
  }

  .hide2 {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

/*mobile */

@media (max-width: 570px) {
  /* global  */

  .logo {
    margin-left: 10px;
  }

  .logo img {
    height: 35px;
    width: 35px;
  }

  .logo span {
    font-size: 25px;
  }

  .burger-menu {
    font-size: 25px;
    margin-right: 10px;
  }

  /* layout */

  .carousel-button {
    font-size: 1.3rem;
  }

  .carousel-info h2 {
    font-size: 30px;
  }

  .carousel-info p {
    font-size: 20px;
  }
}

/* blogs page */

.categories {
  margin: 30px 0px;
}

.categories label {
  font-size: 12px;
  padding: 15px 20px;
  margin-right: 10px;
}

/* .categories label:hover {
  padding: 15px 30px;
} */

/* blog post  */

.post-container img {
  width: 100%;
  height: fit-content;
}

.comment-form {
  width: 100%;
}

/* contact  */

.form-container {
  padding: 0px 0px 30px;
}

@media (max-width: 520px) {
  /* about page */

  .about-image-1 img {
    height: 200px;
    width: 200px;
    top: -25%;
    border: solid 10px var(--brand-white);
  }

  .about-section {
    max-width: 350px;
  }

  .about1 {
    margin-top: 130px;
    height: 500px;
  }

  .about-image-2 img {
    max-width: 350px;
  }
}

@media (max-width: 430px) {
  /* index */

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content h2 {
    font-size: 20px;
  }
}
