/* Global styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: black;
}

.align-self-center {
  align-self: center;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
}

.logo {
  display: flex;
  height: 15vh;
}

.logo-text {
  font-size: 30px;
  font-family: Herculanum, Optima;
}

.logo-img img {
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 60vh;
}

.menu ul {
  display: flex;
}

.menu-list {
  display: flex;
  font-family: Optima;
  font-size: 20px;
  width: 30vw;
}

.menu-list li {
  display: flex;
  margin-right: 60px;
}

.menu-social {
  display: flex;
  justify-content: center;
  width: 30vw;
}

.menu-social li {
  display: flex;
  font-size: 20px;
  margin-right: 20px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}

/* index */
.main-container {
  display: flex;
}

.carousel-container {
  background-color: #f8f8f8;
  width: 60vw;
  height: 85vh;
}

.carousel {
  background-color: dimgrey;
  height: 55vh;
}

.carousel-info {
  height: 25vh;
  padding: 30px;
  margin-bottom: 20px;
}

.content-container {
  background-color: #eaeaea;
  height: 85vh;
  width: 40vw;
  box-shadow: inset 0 0 18px #707070;
}
